[Unit]
Description=http-tunnel Client Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

# The token is read from the environment, so that it doesn't show up in `ps`
# with root
EnvironmentFile=-/etc/http-tunnel/client.env
# without root
# EnvironmentFile=-%h/.local/etc/http-tunnel/client.env

# The instance name `%i` is the name of the client, which must be defined in
# the configuration of the server. Change the `--remote` to your server
ExecStart=/usr/bin/http-tunnel client --remote example.com:2333 --name %i

[Install]
WantedBy=multi-user.target
